// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File:    Artboard S
// Project: Tadao by IIGETHR
// -------------------------------------------------------------

$class: "artboard-s";

.#{$class} {
  float: left;
  width: 480px;
}

// Media Query 240px
// -------------------------------------------------------------
@media #{$xxs} {.#{$class} { width: 240px; }}

// Media Query 360px
// ------------------------------------------------------------
@media #{$xs} {.#{$class} { width: 360px; }}

// Media Query 480px
// -------------------------------------------------------------
@media #{$s} {.#{$class} { width: 480px; }}

// Media Query 720px
// -------------------------------------------------------------
@media #{$m} {.#{$class} { width: 480px; }}

// Media Query 960px
// -------------------------------------------------------------
@media #{$l} {.#{$class} { width: 480px; }}

// Media Query 1440px
// -------------------------------------------------------------
@media #{$xl} {.#{$class} { width: 480px; }}

// Media Query 1920px
// -------------------------------------------------------------
@media #{$xxl} {.#{$class} { width: 480px; }}
