// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File:    Artboard XL
// Project: Tadao by IIGETHR
// -------------------------------------------------------------

$class: "artboard-xxl";

.#{$class} {
  float: left;
  width: 1920px;
}

// Media Query 240px
// -------------------------------------------------------------
@media #{$xxs} {.#{$class} { width: 240px; }}

// Media Query 360px
// ------------------------------------------------------------
@media #{$xs} {.#{$class} { width: 360px; }}

// Media Query 480px
// -------------------------------------------------------------
@media #{$s} {.#{$class} { width: 480px; }}

// Media Query 720px
// -------------------------------------------------------------
@media #{$m} {.#{$class} { width: 720px; }}

// Media Query 960px
// -------------------------------------------------------------
@media #{$l} {.#{$class} { width: 960px; }}

// Media Query 1440px
// -------------------------------------------------------------
@media #{$xl} {.#{$class} { width: 1440px; }}

// Media Query 1920px
// -------------------------------------------------------------
@media #{$xxl} {.#{$class} { width: 1920px; }}
