// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File:    Fixed
// Project: Tadao by IIGETHR
// -------------------------------------------------------------

@mixin fixed {
  position: fixed;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  perspective: none;
  transform: translate3d(0, 0, 0);
}

// Classes
// -------------------------------------------------------------
.fixed { @include fixed; }
