// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File:    Sticky
// Project: Tadao by IIGETHR
// -------------------------------------------------------------

@mixin sticky {
  position: sticky;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  perspective: none;
  transform: translate3d(0, 0, 0);
}

// Classes
// -------------------------------------------------------------
.sticky { @include sticky; }
