// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File:    Line Heights
// Project: Tadao by IIGETHR
// -------------------------------------------------------------

.line-height-xxs  { line-height: 18px !important; }
.line-height-xs   { line-height: 20px !important; }
.line-height-s    { line-height: 22px !important; }
.line-height-m    { line-height: 24px !important; }
.line-height-l    { line-height: 32px !important; }
.line-height-xl   { line-height: 40px !important; }
.line-height-xxl  { line-height: 48px !important; }
