// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File:    List Styles
// Project: Tadao by IIGETHR
// -------------------------------------------------------------

.list-style-none        { list-style-type: none; }
.list-style-disc        { list-style-type: disc; }
.list-style-circle      { list-style-type: circle; }
.list-style-square      { list-style-type: square; }
.list-style-decimal     { list-style-type: decimal; }
.list-style-lower-roman { list-style-type: lower-roman; }
.list-style-upper-alpha { list-style-type: upper-alpha; }
.list-style-upper-roman { list-style-type: upper-roman; }
