// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File:    Margins
// Project: Tadao by IIGETHR
// -------------------------------------------------------------

$class: "margin";

// Reset
// -------------------------------------------------------------
.#{$class}-0 { margin: 0 !important; }

// All
// -------------------------------------------------------------
.#{$class}-2  { margin: 2px !important; }
.#{$class}-4  { margin: 4px !important; }
.#{$class}-8  { margin: 8px !important; }
.#{$class}-12 { margin: 12px !important; }
.#{$class}-16 { margin: 16px !important; }
.#{$class}-20 { margin: 20px !important; }
.#{$class}-24 { margin: 24px !important; }
.#{$class}-28 { margin: 28px !important; }
.#{$class}-32 { margin: 32px !important; }

// Left & Right
// -------------------------------------------------------------
.#{$class}-0-2  { margin: 0 2px !important; }
.#{$class}-0-4  { margin: 0 4px !important; }
.#{$class}-0-8  { margin: 0 8px !important; }
.#{$class}-0-12 { margin: 0 12px !important; }
.#{$class}-0-16 { margin: 0 16px !important; }
.#{$class}-0-20 { margin: 0 20px !important; }
.#{$class}-0-24 { margin: 0 24px !important; }
.#{$class}-0-28 { margin: 0 28px !important; }
.#{$class}-0-32 { margin: 0 32px !important; }

// Top & Bottom
// -------------------------------------------------------------
.#{$class}-2-0  { margin: 2px 0 !important; }
.#{$class}-4-0  { margin: 4px 0 !important; }
.#{$class}-8-0  { margin: 8px 0 !important; }
.#{$class}-12-0 { margin: 12px 0 !important; }
.#{$class}-16-0 { margin: 16px 0 !important; }
.#{$class}-20-0 { margin: 20px 0 !important; }
.#{$class}-24-0 { margin: 24px 0 !important; }
.#{$class}-28-0 { margin: 28px 0 !important; }
.#{$class}-32-0 { margin: 32px 0 !important; }

// Top
// -------------------------------------------------------------
.#{$class}-2-0-0  { margin: 2px 0 0 !important; }
.#{$class}-4-0-0  { margin: 4px 0 0 !important; }
.#{$class}-8-0-0  { margin: 8px 0 0 !important; }
.#{$class}-12-0-0 { margin: 12px 0 0 !important; }
.#{$class}-16-0-0 { margin: 16px 0 0 !important; }
.#{$class}-20-0-0 { margin: 20px 0 0 !important; }
.#{$class}-24-0-0 { margin: 24px 0 0 !important; }
.#{$class}-28-0-0 { margin: 28px 0 0 !important; }
.#{$class}-32-0-0 { margin: 32px 0 0 !important; }

// Top, Left & Right
// -------------------------------------------------------------
.#{$class}-2-2-0  { margin: 2px 2px 0 !important; }
.#{$class}-4-4-0  { margin: 4px 4px 0 !important; }
.#{$class}-8-8-0  { margin: 8px 8px 0 !important; }
.#{$class}-12-12-0 { margin: 12px 12px 0 !important; }
.#{$class}-16-16-0 { margin: 16px 16px 0 !important; }
.#{$class}-20-20-0 { margin: 20px 20px 0 !important; }
.#{$class}-24-24-0 { margin: 24px 24px 0 !important; }
.#{$class}-28-28-0 { margin: 28px 28px 0 !important; }
.#{$class}-32-32-0 { margin: 32px 32px 0 !important; }

// Bottom
// -------------------------------------------------------------
.#{$class}-0-0-2  { margin: 0 0 2px !important; }
.#{$class}-0-0-4  { margin: 0 0 4px !important; }
.#{$class}-0-0-8  { margin: 0 0 8px !important; }
.#{$class}-0-0-12 { margin: 0 0 12px !important; }
.#{$class}-0-0-16 { margin: 0 0 16px !important; }
.#{$class}-0-0-20 { margin: 0 0 20px !important; }
.#{$class}-0-0-24 { margin: 0 0 24px !important; }
.#{$class}-0-0-28 { margin: 0 0 28px !important; }
.#{$class}-0-0-32 { margin: 0 0 32px !important; }

// Bottom, Left & Right
// -------------------------------------------------------------
.#{$class}-0-2-2  { margin: 0 2px 2px !important; }
.#{$class}-0-4-4  { margin: 0 4px 4px !important; }
.#{$class}-0-8-8  { margin: 0 8px 8px !important; }
.#{$class}-0-12-12 { margin: 0 12px 12px !important; }
.#{$class}-0-16-16 { margin: 0 16px 16px !important; }
.#{$class}-0-20-20 { margin: 0 20px 20px !important; }
.#{$class}-0-24-24 { margin: 0 24px 24px !important; }
.#{$class}-0-28-28 { margin: 0 28px 28px !important; }
.#{$class}-0-32-32 { margin: 0 32px 32px !important; }

// Left
// -------------------------------------------------------------
.#{$class}-0-0-0-2  { margin: 0 0 0 2px !important; }
.#{$class}-0-0-0-4  { margin: 0 0 0 4px !important; }
.#{$class}-0-0-0-8  { margin: 0 0 0 8px !important; }
.#{$class}-0-0-0-12 { margin: 0 0 0 12px !important; }
.#{$class}-0-0-0-16 { margin: 0 0 0 16px !important; }
.#{$class}-0-0-0-20 { margin: 0 0 0 20px !important; }
.#{$class}-0-0-0-24 { margin: 0 0 0 24px !important; }
.#{$class}-0-0-0-28 { margin: 0 0 0 28px !important; }
.#{$class}-0-0-0-32 { margin: 0 0 0 32px !important; }

// Left & Top
// -------------------------------------------------------------
.#{$class}-2-0-0-2   { margin: 2px 0 0 2px !important; }
.#{$class}-4-0-0-4   { margin: 4px 0 0 4px !important; }
.#{$class}-8-0-0-8   { margin: 8px 0 0 8px !important; }
.#{$class}-12-0-0-12 { margin: 12px 0 0 12px !important; }
.#{$class}-16-0-0-16 { margin: 16px 0 0 16px !important; }
.#{$class}-20-0-0-20 { margin: 20px 0 0 20px !important; }
.#{$class}-24-0-0-24 { margin: 24px 0 0 24px !important; }
.#{$class}-28-0-0-28 { margin: 28px 0 0 28px !important; }
.#{$class}-32-0-0-32 { margin: 32px 0 0 32px !important; }

// Left & Bottom
// -------------------------------------------------------------
.#{$class}-0-0-2-2   { margin: 0 0 2px 2px !important; }
.#{$class}-0-0-4-4   { margin: 0 0 4px 4px !important; }
.#{$class}-0-0-8-8   { margin: 0 0 8px 8px !important; }
.#{$class}-0-0-12-12 { margin: 0 0 12px 12px !important; }
.#{$class}-0-0-16-16 { margin: 0 0 16px 16px !important; }
.#{$class}-0-0-20-20 { margin: 0 0 20px 20px !important; }
.#{$class}-0-0-24-24 { margin: 0 0 24px 24px !important; }
.#{$class}-0-0-28-28 { margin: 0 0 28px 28px !important; }
.#{$class}-0-0-32-32 { margin: 0 0 32px 32px !important; }

// Right
// -------------------------------------------------------------
.#{$class}-0-2-0-0  { margin: 0 2px 0 0 !important; }
.#{$class}-0-4-0-0  { margin: 0 4px 0 0 !important; }
.#{$class}-0-8-0-0  { margin: 0 8px 0 0 !important; }
.#{$class}-0-12-0-0 { margin: 0 12px 0 0 !important; }
.#{$class}-0-16-0-0 { margin: 0 16px 0 0 !important; }
.#{$class}-0-20-0-0 { margin: 0 20px 0 0 !important; }
.#{$class}-0-24-0-0 { margin: 0 24px 0 0 !important; }
.#{$class}-0-28-0-0 { margin: 0 28px 0 0 !important; }
.#{$class}-0-32-0-0 { margin: 0 32px 0 0 !important; }

// Right & Top
// -------------------------------------------------------------
.#{$class}-2-2-0-0   { margin: 2px 2px 0 0 !important; }
.#{$class}-4-4-0-0   { margin: 4px 4px 0 0 !important; }
.#{$class}-8-8-0-0   { margin: 8px 8px 0 0 !important; }
.#{$class}-12-12-0-0 { margin: 12px 12px 0 0 !important; }
.#{$class}-16-16-0-0 { margin: 16px 16px 0 0 !important; }
.#{$class}-20-20-0-0 { margin: 20px 20px 0 0 !important; }
.#{$class}-24-24-0-0 { margin: 24px 24px 0 0 !important; }
.#{$class}-28-28-0-0 { margin: 28px 28px 0 0 !important; }
.#{$class}-32-32-0-0 { margin: 32px 32px 0 0 !important; }

// Right & Bottom
// -------------------------------------------------------------
.#{$class}-0-2-2-0   { margin: 0 2px 2px 0 !important; }
.#{$class}-0-4-4-0   { margin: 0 4px 4px 0 !important; }
.#{$class}-0-8-8-0   { margin: 0 8px 8px 0 !important; }
.#{$class}-0-12-12-0 { margin: 0 12px 12px 0 !important; }
.#{$class}-0-16-16-0 { margin: 0 16px 16px 0 !important; }
.#{$class}-0-20-20-0 { margin: 0 20px 20px 0 !important; }
.#{$class}-0-24-24-0 { margin: 0 24px 24px 0 !important; }
.#{$class}-0-28-28-0 { margin: 0 28px 28px 0 !important; }
.#{$class}-0-32-32-0 { margin: 0 32px 32px 0 !important; }
