// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File:    Widths
// Project: Tadao by IIGETHR
// -------------------------------------------------------------

.width-wide     { width: 100% !important; }
.width-auto     { width: auto !important; }
.width-inherit  { width: inherit !important; }
