// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File:    Settings Grid
// Project: Tadao by IIGETHR
// -------------------------------------------------------------

$class: "settings-grid";

.#{$class} {
  float: left;
  width: 100%;
  .#{$class}-box {
    float: left;
    width: 100%;
    .#{$class}-row {
      float: left;
      padding: 8px;
      width: 100%;
    }
    .#{$class}-item {
      float: left;
      padding: 8px;
      width: calc(100% / 4);
    }
  }
}

// Media Query 240px
// -------------------------------------------------------------
@media #{$xxs} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-row {
      }
      .#{$class}-item {
        float: left;
        width: 100%;
      }
    }
  }
}

// Media Query 360px
// ------------------------------------------------------------
@media #{$xs} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-row {
      }
      .#{$class}-item {
        width: calc(100% / 2);
      }
    }
  }
}

// Media Query 480px
// -------------------------------------------------------------
@media #{$s} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-row {
      }
      .#{$class}-item {
        width: calc(100% / 2);
      }
    }
  }
}

// Media Query 720px
// -------------------------------------------------------------
@media #{$m} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-row {
      }
      .#{$class}-item {
      }
    }
  }
}

// Media Query 960px
// -------------------------------------------------------------
@media #{$l} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-row {
      }
      .#{$class}-item {
      }
    }
  }
}

// Media Query 1440px
// -------------------------------------------------------------
@media #{$xl} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-row {
      }
      .#{$class}-item {
      }
    }
  }
}

// Media Query 1920px
// -------------------------------------------------------------
@media #{$xxl} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-row {
      }
      .#{$class}-item {
      }
    }
  }
}
