// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File:    Fonts
// Project: Tadao by IIGETHR
// -------------------------------------------------------------

// Imports
// @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://use.typekit.net/udh1wvf.css");

// Icon
// $icon: "Material Icons" !default;
// Adobe Fonts
$mono: fira-mono, "Courier New", Courier, monospace !default;
$sans: proxima-nova, "Segoe UI", Tahoma, Verdana, sans-serif !default;
$serif: jubilat, "Times New Roman", Times, Georgia, serif !default;
